# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build
build/
dist/
*.egg-info/

# Virtual env
venv/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# GitHub Actions
.github/workflows/*.log

# Project specific
src/packages_python/__pycache__/
